main{
    height:80vh;
    width: 100%;
    background-image: url('../../../images/bannerbackground.png');
    background-size:contain;
    background-repeat: no-repeat;

}
.main-heading{
    text-align: center;
    padding-top: 6rem;
}
.input-group-text {
    color:white;
    background:  #F91A43;
    border:none;
}
.input-group{
    margin-top: 2rem!important;
}
.form-control{
    padding: 20px !important;

}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    /* border-bottom-right-radius: 3px; */
    border-radius: 20px 0px 00px 20px;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 20px;
    margin-left: -20px;
}